/*
Filename : moodle
Author   : John Welch <jwelch@welchitconsulting.co.uk>
Created  : 03 Mar 2015
*/

// Import the Bootstrap variables
@import "../vendor/bootstrap/less/variables.less";

// Import the themes variables
@import "_variables.less";

// Import the Bootstrap files
@import "_bootstrap.less";

// Import the various layout files
@import "moodle/course.less";
@import "moodle/header.less";
