/*
Filename : body
Author   : John Welch <jwelch@welchitconsulting.co.uk>
Created  : 06 Mar 2015
*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 65px;
}

.site-header,
.site-footer {
    background-color: @brand-primary;
    color: #fff;
    width: 100%;
}

.site-header {
    height: 50px;

    .site-brand {
        float: left;
        display: block;
        width: 320px;
        height: 100px;
        padding: 20px 0 0 10px;
        background-color: @brand-primary;
        .border-bottom-radius(@border-radius-large);
        .border-left-radius(@border-radius-large);

        a {
            position: relative;
            display: block;
            color: #fff;
            padding: 15px;
            width: 288px;
            height: 80px;
            background: url(/theme/smartsbridge/pix/SmartsBridge.png) no-repeat 50% 50%;
            z-index: 99999;

            span {
                display: none;
            }
        }
    }
}

.site-footer {
    position: absolute;
    bottom: 0;
    height: 65px;
    font-size: @font-size-small;

    #copyright {
        padding-top: 10px;
        text-align: left;
    }

    a {
        font-weight: bold;
        color: #fff;
    }

    .site-links {
        text-align: right;
    }
}