/*
Filename : body
Author   : John Welch <jwelch@welchitconsulting.co.uk>
Created  : 06 Mar 2015
*/

html,
body {
    height: 100%;
}
.page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}


.site-header,
#page-footer {
    background-color: @brand-primary;
    color: #fff;
}
.site-header {
    height: 45px;
}
#page-footer {
    font-size: smaller;

    #copyright {
        text-align: left;
    }

    a {
        font-weight: bold;
        color: #fff;
    }
}