/*
Filename : course
Author   : John Welch <jwelch@welchitconsulting.co.uk>
Created  : 03 Mar 2015
*/

.support-contacts {

    .contacts {
        display: inline-block;
        width: 50%;
        font-size: 1.2em;
    }
}
